<html xmlns:th="http://www.thymeleaf.org"><head>
  <title>payment demo</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head><body>

  <p>hello 헬로우</p>

  <p th:text="${name}"></p>
  <p>[[${name}]]</p>
  <p>${name}</p>

  <table>
    <tbody>
      <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
      </tr>
    </tbody>
  </table>

</body></html>