spring:
  output:
    ansi:
      enabled: always
  application:
    name: kafka-producer
  kafka:
    bootstrap-servers: localhost:9092
logging:
  level:
    dev.fastcampus: debug
  pattern:
    console: "%d{HH:mm:ss.SSS}|%highlight(%-5level)|%X{txid:-}|%green(%t)|%blue(\\(%F:%L\\))|%msg%n"